[submodule "kbengine_demos_assets"]
	path = kbengine_demos_assets
	url = https://github.com/kbengine/kbengine_demos_assets.git
	branch = 1.x
[submodule "cocos2d-js-client/plugins/kbengine_js_plugins"]
	path = cocos2d-js-client/plugins/kbengine_js_plugins
	url = https://github.com/kbengine/kbengine_js_plugins.git
	branch = 1.x
